.destacado {color: rgb(12, 207, 142);
font-size: 50px;}
#destacado {color:rgb(19, 148, 223);}
body {background-color: rgb(223, 209, 196);}
 h1 {
    color: rgb(16, 152, 231);
    margin-left: 40px;}
p {font-size: 20px;}